body {
    background-color: #FFFFE0;
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.center-text {
    font-size: 3em;
    font-weight: bold;
    color: #5D4037;
    text-align: center;
    margin: 20px 0;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 80%;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.807);
    object-fit: cover;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}